
<div class="container-fluid mt-5">
  <div class="container">





     <div class="row">

       <!-- Start :: input section-->
       <div class="col-12 col-md-4">

       <mat-card class="input-section">
         <mat-card-content>
           <form [formGroup]="inputform">

             <!--start:: age-->
             <mat-form-field appearance="fill" floatLabel="always" class="full-width mb-3">
               <mat-label>Age</mat-label>
               <input matInput type="number" class="example-right-align" placeholder="0">
             </mat-form-field>
             <!-- end:: age -->


             <!-- start:: credit score -->
             <mat-form-field appearance="fill" class="full-width mb-3">
               <mat-label>Select credit score</mat-label>
               <mat-select [(value)]="selected">
                 <mat-option>None</mat-option>
                 <mat-option value="option1">Option 1</mat-option>
                 <mat-option value="option2">Option 2</mat-option>
                 <mat-option value="option3">Option 3</mat-option>
               </mat-select>
             </mat-form-field>



             <!-- end:: credit score-->



             <mat-expansion-panel class="mb-4" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                   Your monthly DTI
                 </mat-panel-title>

               </mat-expansion-panel-header>



               <!--start:: debt-->
               <mat-form-field appearance="fill" floatLabel="always" class="full-width mb-3">
                 <mat-label>Debt</mat-label>
                 <input matInput type="number" class="example-right-align" placeholder="0">
                 <span matTextPrefix>$&nbsp;</span>
                 <span matTextSuffix>.00</span>
               </mat-form-field>
               <!--end::debt-->





               <!-- start:: income-->
               <mat-form-field appearance="fill" floatLabel="always" class="full-width mb-3">
                 <mat-label>Income</mat-label>
                 <input matInput type="number" class="example-right-align" placeholder="0">
                 <span matTextPrefix>$&nbsp;</span>
                 <span matTextSuffix>.00</span>
               </mat-form-field>
               <!--end::income-->


               <!-- start:: asset-->
               <mat-form-field appearance="fill" floatLabel="always" class="full-width mb-3">
                 <mat-label>Asset</mat-label>
                 <input matInput type="number" class="example-right-align" placeholder="0">
                 <span matTextPrefix>$&nbsp;</span>
                 <span matTextSuffix>.00</span>
               </mat-form-field>
               <!--end::asset-->


               <!-- start:: liabilities-->
               <mat-form-field appearance="fill" floatLabel="always" class="full-width mb-3">
                 <mat-label>Liabilities</mat-label>
                 <input matInput type="number" class="example-right-align" placeholder="0">
                 <span matTextPrefix>$&nbsp;</span>
                 <span matTextSuffix>.00</span>
               </mat-form-field>
               <!--end::liabilities-->


             </mat-expansion-panel>


             <!--start:: Financial Goals-->
             <mat-form-field appearance="fill" class="full-width mt-3 mb-3">
               <mat-label>Financila Goals in Place?</mat-label>
               <mat-select [(value)]="finGoal">
                 <mat-option value="no">No</mat-option>
                 <mat-option value="not really">Not Really</mat-option>
                 <mat-option value="yes">Yes</mat-option>
                 <mat-option value="sort of">Sort Of</mat-option>
               </mat-select>
             </mat-form-field>
             <!--end:: financial goals -->


             <!-- start::Estate Planning-->
             <mat-expansion-panel class="mb-4" (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
               <mat-expansion-panel-header>
                 <mat-panel-title>
                   Estate Planning
                 </mat-panel-title>

               </mat-expansion-panel-header>



               <!--start:: Will-->
               <mat-form-field appearance="fill" class="full-width  mb-3">
                 <mat-label>Will</mat-label>
                 <mat-select [(value)]="will">
                   <mat-option value="yes">Yes</mat-option>
                   <mat-option value="no">No</mat-option>
                 </mat-select>
               </mat-form-field>
               <!--end::Will-->

               <!-- start:: house -->
               <mat-form-field appearance="fill" class="full-width  mb-3">
                 <mat-label>House</mat-label>
                 <mat-select [(value)]="house">
                   <mat-option value="yes">Yes</mat-option>
                   <mat-option value="no">No</mat-option>
                 </mat-select>
               </mat-form-field>
               <!-- end:: house-->

               <!-- start:: life ins -->
               <mat-form-field appearance="fill" class="full-width  mb-3">
                 <mat-label>Life Ins</mat-label>
                 <mat-select [(value)]="lifeIns">
                   <mat-option value="yes">Yes</mat-option>
                   <mat-option value="no">No</mat-option>
                 </mat-select>
               </mat-form-field>
               <!-- end:: life ins-->

               <!-- start:: savings -->
               <mat-form-field appearance="fill" class="full-width  mb-3">
                 <mat-label>Savings</mat-label>
                 <mat-select [(value)]="savings">
                   <mat-option value="yes">Yes</mat-option>
                   <mat-option value="no">No</mat-option>
                 </mat-select>
               </mat-form-field>
               <!-- end:: savings-->

               <!-- start:: POA -->
               <mat-form-field appearance="fill" class="full-width mb-3">
                 <mat-label>POA</mat-label>
                 <mat-select [(value)]="poa">
                   <mat-option value="yes">Yes</mat-option>
                   <mat-option value="no">No</mat-option>
                 </mat-select>
               </mat-form-field>
               <!-- end:: POA-->

               <!-- start:: trust -->
               <mat-form-field appearance="fill" class="full-width mb-3">
                 <mat-label>Trust</mat-label>
                 <mat-select [(value)]="trust">
                   <mat-option value="yes">Yes</mat-option>
                   <mat-option value="no">No</mat-option>
                 </mat-select>
               </mat-form-field>
               <!-- end:: trust-->


               <!-- start:: stocks -->
               <mat-form-field appearance="fill" class="full-width mb-3">
                 <mat-label>Stocks</mat-label>
                 <mat-select [(value)]="stocks">
                   <mat-option value="yes">Yes</mat-option>
                   <mat-option value="no">No</mat-option>
                 </mat-select>
               </mat-form-field>
               <!-- end:: stocks-->

             </mat-expansion-panel>
             <!-- End:: Estate Planning -->







           </form>
         </mat-card-content>
       </mat-card>


       </div>
       <!-- End :: input section-->


       <!--Start:: Output Section -->
       <div class="col-12 col-md-8">

          <mat-card>
            <mat-card-content>
              <h1>Hello</h1>
            </mat-card-content>
          </mat-card>



       </div>
       <!-- End:: output Section -->


     </div>




  </div>
</div>
