
.full-width {
  width: 100%;
}

.input-section{
  /*background: rgba(0, 0, 0, 0.03);*/
}

::ng-deep.mat-mdc-form-field-subscript-wrapper .mat-icon, .mat-mdc-form-field label .mat-icon {
  width: 1.1em !important;
  height: 0.9em !important;
  font-size: 12px;
}

::ng-deep .mat-mdc-form-field-error-wrapper{
  padding: 0 !important;
}

input {
  font-size: 25px !important;
}

mat-select{
  font-size: 25px !important;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
  border-radius: 25px;
}

::ng-deep .mat-button-toggle-checked .mat-button-toggle-button {
  background-color: #6A1B9A;
  color: #ffffff;
}


/*::ng-deep*/
/*mat-slider*/
/*mat-slider-wrapper*/
/*mat-slider-thumb-container*/
/*mat-slider-thumb-label:hover {*/
/*  background: aquamarine;*/
/*}*/






/* #credit-score-slider {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-content: stretch;*/
/*  position: relative;*/
/*  width: 100%;*/
/*  height: 50px;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/
/*#credit-score-slider::before {*/
/*  content: " ";*/
/*  position: absolute;*/
/*  height: 2px;*/
/*  width: 100%;*/
/*  width: calc(100% * (4 / 5));*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  background: #000;*/
/*}*/
/* #credit-score-slider input, form #credit-score-slider label {*/
/*  box-sizing: border-box;*/
/*  flex: 1;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*  cursor: pointer;*/
/*}*/
/* #credit-score-slider label {*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  width: 20%;*/
/*  height: 100%;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/
/*#credit-score-slider label::before {*/
/*  content: attr(data-credit-score);*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  padding-top: 10px;*/
/*  transform: translate(-50%, 45px);*/
/*  font-size: 14px;*/
/*  letter-spacing: 0.4px;*/
/*  font-weight: 400;*/
/*  white-space: nowrap;*/
/*  opacity: 0.85;*/
/*  transition: all 0.15s ease-in-out;*/
/*}*/
/* #credit-score-slider label::after {*/
/*  content: " ";*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  top: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  border: 2px solid #000;*/
/*  background: #fff;*/
/*  border-radius: 50%;*/
/*  pointer-events: none;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*  z-index: 1;*/
/*  cursor: pointer;*/
/*  transition: all 0.15s ease-in-out;*/
/*}*/
/*#credit-score-slider label:hover::after {*/
/*  transform: translate(-50%, -50%) scale(1.25);*/
/*}*/
/* #credit-score-slider input {*/
/*  display: none;*/
/*}*/
/* #credit-score-slider input:checked + label::before {*/
/*  font-weight: 800;*/
/*  opacity: 1;*/
/*}*/
/* #credit-score-slider input:checked + label::after {*/
/*  border-width: 4px;*/
/*  transform: translate(-50%, -50%) scale(0.75);*/
/*}*/
/* #credit-score-slider input:checked ~ #credit-score-pos {*/
/*  opacity: 1;*/
/*}*/
/* #credit-score-slider input:checked:nth-child(1) ~ #credit-score-pos {*/
/*  left: 12.5%;*/
/*}*/
/* #credit-score-slider input:checked:nth-child(3) ~ #credit-score-pos {*/
/*  left: 37.5%;*/
/*}*/
/* #credit-score-slider input:checked:nth-child(5) ~ #credit-score-pos {*/
/*  left: 62.5%;*/
/*}*/
/* #credit-score-slider input:checked:nth-child(7) ~ #credit-score-pos {*/
/*  left: 87.5%;*/
/*}*/
/* #credit-score-slider input:checked:nth-child(9) ~ #credit-score-pos {*/
/*  left: 112.5%;*/
/*}*/
/* #credit-score-slider #credit-score-pos {*/
/*  display: block;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  width: 12px;*/
/*  height: 12px;*/
/*  background: #000;*/
/*  border-radius: 50%;*/
/*  transition: all 0.15s ease-in-out;*/
/*  transform: translate(-50%, -50%);*/
/*  border: 2px solid #fff;*/
/*  opacity: 0;*/
/*  z-index: 2;*/
/*}*/
/* #credit-score-slider input + label::before {*/
/*  transform: translate(-50%, 45px) scale(0.9);*/
/*  transition: all 0.15s linear;*/
/*}*/
/* #credit-score-slider input:checked + label::before {*/
/*  transform: translate(-50%, 45px) scale(1.1);*/
/*  transition: all 0.15s linear;*/
/*}*/


/*@-webkit-keyframes spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*    width: 24px;*/
/*    opacity: 1;*/
/*    margin-right: 12px;*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*    width: 24px;*/
/*    opacity: 1;*/
/*    margin-right: 12px;*/
/*  }*/
/*}*/

/*@keyframes spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*    width: 24px;*/
/*    opacity: 1;*/
/*    margin-right: 12px;*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*    width: 24px;*/
/*    opacity: 1;*/
/*    margin-right: 12px;*/
/*  }*/
/*}*/
